@use './variables' as *;
// reset

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main {
    width: 70vw;
}

a {
  color: $secondary-clr;
  font-weight: 400;

  &:hover {
    color: $tertiary-clr;
  }
}


//

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-clr;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}