@use './variables' as *;

#abt-me {
    margin-top: $space-3xl;
    font-family: DM mono, monospace;
}

.code ul {
    background-color: $grey;
    border-radius: 15px;
    padding: $space-m $space-l;
    list-style: none;

    &#console {
        margin-top: $space-m;
    }
}


.purple {
    color: #D2A8FF;
}

.light-blue {
    color: #A5D6FF;
}

.dark-blue {
    color: #84c6ff;
}

.green {
    color: rgb(97, 255, 166);
}

.orange {
    color: #FF8730;
}

.red {
    color: #ff3030;
}

.indent {
    margin-inline-start: $space-m;
}

