@use './variables' as *;

footer {
    margin-top: $space-3xl;
    background-color: $grey;
    width: 100vw;
    position: absolute;
    z-index: 2000;

    .footer-content {
        padding: $space-l 0;
        width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

       

        a {
            color: $white;
            text-underline-offset: 3px;
            &:hover {
                color: $secondary-clr;
            }
        }
    }

    @media screen and (max-width: 1070px) {
        .footer-content p#mail {
            margin-bottom: $space-xs;
        }
    }
}