@use './variables' as *;

header {
    width: 70vw;
    margin: 0 auto;
    ul.header {
        list-style: none;
        h1 {
            text-transform: uppercase;
            line-height: 0.9;
        }

        li:nth-of-type(even) {
            margin-inline-start: 150px;
        }
    }

    .tags {
        display: flex;
        margin-top: 25px;
        gap: 10px;
        .header-tag {
            background-color: #1f1f1fcc;
            padding: 3px 8px;
            border-radius: 5px;
        }
    }
}