@use './variables' as *;

header {
    width: 70vw;
    margin: 0 auto;
    ul.header {
        list-style: none;
        h1 {
            text-transform: uppercase;
            line-height: 0.9;
        }

        li:nth-of-type(even) {
            margin-inline-start: calc($space-3xl * 1.2);
            width: 60vw;
        }
        @media screen and (max-width: 400px) {
            li:nth-of-type(even) {
                width: 70vw;
                margin-inline-start: calc($space-2xl);
            }
        }
    }

    .tags {
        display: flex;
        width: 70vw;
        flex-flow: row wrap;
        margin-top: $space-m;
        gap: $space-xs;
        .header-tag {
            background-color: #1f1f1fcc;
            padding: 3px 8px;
            border-radius: 5px;
        }
    }
}