@use './variables' as *;

nav {
    width: 100%;
    padding: calc($space-2xl * 1.25) 0;

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        gap: $space-2xl;

        a {
            text-decoration: none;
        }
        
    }
}