@use './variables' as *;

footer {
    margin-top: 100px;
    background-color: $grey;
    width: 100vw;
    position: absolute;
    z-index: 2000;

    .footer-content {
        padding: 30px 0;
        width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        a {
            color: $white;
            text-underline-offset: 3px;
        }
    }
}