@use './variables' as *;

header {
    width: 70vw;
    margin: 0 auto;
    ul.header {
        list-style: none;
        h1 {
            text-transform: uppercase;
            line-height: 0.9;
        }

        li:nth-of-type(even) {
            margin-inline-start: 150px;
        }
    }
}