@use './variables' as *;

nav {
    width: 100%;
    padding: 80px 0;

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        gap: 60px;

        a {
            text-decoration: none;
        }
        
    }
}