@use './variables' as *;

.App {
    // width: 100vw;
    // display: flex;
    // justify-content: space-between;
    // position: fixed;

    #overlay-left {
        width: 15vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 15px;
        left: 0;
        position: fixed;
        // background-color: rgba(0, 255, 255, 0.425);

        i {
            font-size: 1.5rem;
            color: $secondary-clr;
        }
    }

    #overlay-right {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        right: 0;
        position: fixed;
        height: 100vh;
        text-overflow: ellipsis;

        p {
            rotate: 90deg;
            width: 100vh;
            z-index: 100;
            animation: move 15s linear infinite;
        }

        .lin-bg {
            background: linear-gradient(270deg, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0.3) 4%, rgba(10, 10, 10, 0.6) 41%, rgba(10, 10, 10, 1) 66%);
            width: 130px;
            height: 2rem;
            z-index: 101;
            rotate: 90deg;
            
            &:nth-of-type(1) {
                top: 0;
                position: fixed;
            }
            
            &:nth-of-type(2) {
                background: linear-gradient(90deg, rgba(10,10,10,0) 0%, rgba(10, 10, 10, 0.6) 29%, rgba(10, 10, 10, 1) 80%);
                position: fixed;
                bottom: 0;
            }
        }
    }

    
    
    @keyframes move {
            0% {
                transform: translateX(-100%)
            }
    
            50% {
                transform: translateX(-50%)
            }

            100% {
                transform: translateX(0%)
            }
        } 
}